body {
    margin: 0;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#hero {
    background: linear-gradient(#FFBA08, #D00000);
    padding: 5px;
    border: 3px solid #c7cfdd;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px 15px 0 15px;
}

.shadow {
    text-shadow: -5px 5px 0px #c7cfdd;
}

#hero-img {
    border-radius: 50%;
    width: 200px;
    border: 6px solid #c7cfdd;
    margin: 5px 10px;
}

#hero-main-text {
    width: 500px;
    font-size: 45px;
    margin: auto;

}

#hero-sub-text {
    font-size: 25px;
    width: 500px;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #222222;
    margin-top: 50px;
}

.attractions{
    margin: 40px;
}

.attractions:hover {
    transform: scale(1.5);
    filter: brightness(100%);
}

.attraction-img {
    width: 175px;
    height: 175px;
    border: 3px solid #c7cfdd;
    border-radius: 50%;
    align-items: center;
}

.attraction-text {
    text-align: center;
    width: 200px;
}

#description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
}

#tour-guide {
    margin: 50px auto;
    width: 250px;
}

#ohio {
    width: 100px;
}

#bio {
    font-family: 'Open Sans', sans-serif; 
}

#my-img {
    width: 200px;
    border-radius: 50%;
    border: 6px solid pink;
}